@model EcommerceBookStore.Web.Areas.Dashboard.ViewModel.UserViewModel
@{
    ViewBag.Title = "Action";
}




<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel4">會員基本資料</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

  
    <div class="row">
        <div class="col-md-12">

            <div class="card mb-4">

                <!-- Account -->
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        @if (Model.UserImage != null)
                        {
                            <img src="@Url.Content(Model.UserImage)" alt="user-avatar" class=" d-block rounded" height="100" width="100" id="uploadedAvatar" />
                        }
                        else
                        {
                            <img src="~/Image/User/blank-profile-picture-g88a2086e1_640.png" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                        }

                        <div class="button-wrapper">
                            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">上傳圖片</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg">
                            </label>
                            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                <i class="bx bx-reset d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Reset</span>
                            </button>

                            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(p => p.Id)
                <hr class="my-0">
                <div class="card-body">
                    <form id="formAccountSettings" method="POST" onsubmit="return false">
                        <div class="row">
                            <div class="mb-3 col-md-12">
                                @Html.LabelFor(p => p.UserName, new { @class = "form-label" })

                                @Html.TextBoxFor(p => p.UserName, new { @class = "form-control" })

                            </div>
                            <div class="mb-3 col-md-6">
                                @Html.LabelFor(p => p.FirstName, new { @class = "form-label" })
                                @Html.TextBoxFor(p => p.FirstName, new { @class = "form-control" })

                            </div>
                            <div class="mb-3 col-md-6">
                                @Html.LabelFor(p => p.LastName, new { @class = "form-label" })
                                @Html.TextBoxFor(p => p.LastName, new { @class = "form-control" })

                            </div>
                            <div class="mb-3 col-md-6">
                                @Html.LabelFor(p => p.Email, new { @class = "form-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                            </div>

                            <div class="mb-3 col-md-6">
                                @Html.LabelFor(p => p.telephone, new { @class = "form-label" })

                                <div class="input-group input-group-merge">
                                    <span class="input-group-text">TW (+800)</span>
                                    @Html.TextBoxFor(p => p.telephone, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                @Html.LabelFor(p => p.Address, new { @class = "form-label" })

                                @Html.TextBoxFor(p => p.Address, new { @class = "form-control" })

                            </div>


                        </div>

                    </form>
                </div>
                <!-- /Account -->
            </div>
            @*<div class="card">
                <h5 class="card-header">刪除</h5>
                <div class="card-body">
                    <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                            <h6 class="alert-heading fw-bold mb-1">你確定要刪除嗎??</h6>
                            <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                        </div>
                    </div>
                    <form id="formAccountDeactivation" onsubmit="return false">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation">
                            <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
                        </div>
                        <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
                    </form>
                </div>
            </div>*@
        </div>
        <div class="errorDiv">

        </div>
        <!-- / Content -->

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
        關閉
    </button>
    <button id="Savebtn" type="button" class="btn btn-primary">儲存</button>
</div>




<script>
    $("#upload").change(function () {
        UploadImage(this);
    })

    function UploadImage(input) {
        var ReadImage = new FileReader();
        ReadImage.onload = function (e) {
            $("#uploadedAvatar").attr("src", e.target.result);

        }
        ReadImage.readAsDataURL(input.files[0]);
    }


    $("#Savebtn").click(function () {
        var formData = new FormData();
        var UserName = $("#UserName").val();
        var FirstName = $("#FisrtName").val();
        var LastName = $("#LastName").val();
        var Email = $("#Email").val();
        var telephone = $("#telephone").val();
        var Address = $("#Address").val();
        var UserImage = $("#upload")[0].files[0];
        var UserId = $("#Id").val();

        formData.append("Id", UserId);
        formData.append("UserName", UserName);
        formData.append("FirstName", FirstName);
        formData.append("LastName", LastName);
        formData.append("Email", Email);
        formData.append("telephone", telephone);
        formData.append("Address", Address);
        formData.append("UserImage", UserImage);

        $.ajax({
            url: "@Url.Action("Action", "User")",
            type: "post",
            processData: false,
            contentType: false,
            data: formData
        }).done(function (respone) {
            debugger;
            if (respone.Success) {
                location.reload();
            } else {
                $(".errorDiv").html(respone.Message);
            }
        })

    })
</script>